@font-face {
	font-family: 'ITCHandelGothicArabicW23-Bd';
	src: url('../fonts/ITCHandelGothicArabicW23-Bd.eot');
	src: url('../fonts/ITCHandelGothicArabicW23-Bd.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ITCHandelGothicArabicW23-Bd.woff2') format('woff2'),
		url('../fonts/ITCHandelGothicArabicW23-Bd.woff') format('woff'),
		url('../fonts/ITCHandelGothicArabicW23-Bd.ttf') format('truetype');
}
@font-face {
	font-family: 'ITCHandelGothicArabicW23-Hv';
	src: url('../fonts/ITCHandelGothicArabicW23-Hv.eot');
	src: url('../fonts/ITCHandelGothicArabicW23-Hv.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ITCHandelGothicArabicW23-Hv.woff2') format('woff2'),
		url('../fonts/ITCHandelGothicArabicW23-Hv.woff') format('woff'),
		url('../fonts/ITCHandelGothicArabicW23-Hv.ttf') format('truetype');
}
@font-face {
	font-family: 'ITCHandelGothicArabicW23-Lt';
	src: url('../fonts/ITCHandelGothicArabicW23-Lt.eot');
	src: url('../fonts/ITCHandelGothicArabicW23-Lt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ITCHandelGothicArabicW23-Lt.woff2') format('woff2'),
		url('../fonts/ITCHandelGothicArabicW23-Lt.woff') format('woff'),
		url('../fonts/ITCHandelGothicArabicW23-Lt.ttf') format('truetype');
}
@font-face {
	font-family: 'ITCHandelGothicArabicW23-Md';
	src: url('../fonts/ITCHandelGothicArabicW23-Md.eot');
	src: url('../fonts/ITCHandelGothicArabicW23-Md.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ITCHandelGothicArabicW23-Md.woff2') format('woff2'),
		url('../fonts/ITCHandelGothicArabicW23-Md.woff') format('woff'),
		url('../fonts/ITCHandelGothicArabicW23-Md.ttf') format('truetype');
}
@font-face {
	font-family: 'ITCHandelGothicArabicW23-Rg';
	src: url('../fonts/ITCHandelGothicArabicW23-Rg.eot');
	src: url('../fonts/ITCHandelGothicArabicW23-Rg.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ITCHandelGothicArabicW23-Rg.woff2') format('woff2'),
		url('../fonts/ITCHandelGothicArabicW23-Rg.woff') format('woff'),
		url('../fonts/ITCHandelGothicArabicW23-Rg.ttf') format('truetype');
}
@font-face {
	font-family: 'Cairo-SemiBold';
	src: url('../fonts/Cairo-SemiBold.eot');
	src: url('../fonts/Cairo-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Cairo-SemiBold.woff2') format('woff2'),
		url('../fonts/Cairo-SemiBold.woff') format('woff'),
		url('../fonts/Cairo-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Cairo-Bold';
	src: url('../fonts/Cairo-Bold.eot');
	src: url('../fonts/Cairo-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Cairo-Bold.woff2') format('woff2'),
		url('../fonts/Cairo-Bold.woff') format('woff'),
		url('../fonts/Cairo-Bold.ttf') format('truetype');
}
body
{
	font-family: 'ITCHandelGothicArabicW23-Rg';
}
::-webkit-scrollbar {
    width: 10px;
    height: 0;
  }
  ::-webkit-scrollbar-track {
    background: #fff; 
    border-radius: 0px;
  }
  ::-webkit-scrollbar-track-piece{
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #9ac62d;
    border: 2px solid transparent;
    background-clip: padding-box;
    border-radius: 20px;
  }
a:focus,button:focus,input:focus,a:hover
{
	outline: none;
	text-decoration: none;
}
.tooltip  > .tooltip-inner {
	font-size: 12px;
	font-family: 'ITCHandelGothicArabicW23-Rg';
	text-transform: capitalize;
}
.scroll_mob
{
	overflow: hidden;
}
header .mob_bar
{
	display: none;
	width: 100%;
}
.mob_bar #navbtn
{
	width: 100%;
	padding: 7px 15px;
	border: none;
	color: #ffffff;
	font-size: 24px;
	background-color: #01344c;
}
.mob_bar #navbtn > span
{
	font-size: 18px;
	font-family: 'ITCHandelGothicArabicW23-Bd';
	position: relative;
	bottom: 2px;
}
.over_click
{
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.8);
	z-index: 99;
	visibility: hidden;
}
.on
{
	visibility: visible;
}
.sidenav {
	height: 100%;
	width: 290px;
	position: fixed;
	z-index: 1000;
	top: 0;
	background-color: #ffffff;
	overflow-x: hidden;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	padding-top: 50px;
}
.sidenav .direct {
	text-decoration: none;
	margin: 0 30px;
	font-size: 16px;
	color: #515467;
	line-height: 37px;
	font-family: 'ITCHandelGothicArabicW23-Md';
	position: relative;
	display: block;
}
.side_ul > li:not(:last-child)
{
	border-bottom: 1px solid #e5e5e5;
}
.side_ul .mob_pros:after
{
	content: '\f067';
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
	color: #515467;
	font-size: 14px;
	position: absolute;
}
.mob_item.mob_pros:after
{
	font-size: 10px;
}
.side_ul .mob_pros[aria-expanded = "true"]:after
{
	content: "\f068";
}
.sidenav .closebtn {
	position: absolute;
	color: #515467;
	top: 0;
	font-size: 35px;
	cursor: pointer;
}
.sidenav .mob_menu .mob_item
{
	color: #515467;
	font-size: 16px;
	line-height: 35px;
	display: block;
	position: relative;
}
.sidenav .sublist_item
{
	color: #515467;
	font-size: 16px;
	line-height: 35px;
	display: block;
	font-family: 'ITCHandelGothicArabicW23-Lt';
}
.sidenav .mob_menu .sub_cat:first-child
{
	margin-top: 10px;
}
.sidenav .mob_menu .sub_cat:last-child
{
	margin-bottom: 20px;
}
header .lang-bar
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 18px;
}
header .lang-bar > a
{
	display: inline-block;
}
header .top_bar
{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: -26px;
}
header .search_cat
{
	width: 51.32%;
	border: 1px solid #e5e5e5;
	display: flex;
	align-items: center;
	display: flex;
	padding: 4px 0;
}
header .categories
{
	width: 35%;
}
.categories .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
{
	width: 100%;
}
.categories .bootstrap-select>.dropdown-toggle
{
	border: none;
	padding: 0 22px;
	color: #515467;
	position: relative;
	font-size: 14px;
	height: 35px;
	background-color: transparent;
}
.categories .bootstrap-select.btn-group .dropdown-toggle .caret
{
	display: none;
}
.categories .bootstrap-select>.dropdown-toggle:hover,.categories .open > .dropdown-toggle.btn-default,.categories .bootstrap-select>.dropdown-toggle:focus
{
	background-color: transparent;
	color: #515467;
}
.categories .bootstrap-select>.dropdown-toggle:after
{
	content: '\f078';
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
	position: absolute;
	top: 11px;
	font-size: 12px;
	color: #cbcbcb;
}
.categories .bootstrap-select.btn-group .dropdown-menu
{
	border-radius: 5px;
	border: none;
	-webkit-box-shadow: 0 0 12px rgba(0,0,0,0.1);
	box-shadow: 0 0 12px rgba(0,0,0,0.1);
	padding: 0;
}
.categories .bootstrap-select.btn-group .dropdown-menu.open
{
	margin-top: 10px;
}
.categories .bootstrap-select.btn-group .dropdown-menu.inner
{
	padding: 10px 0;
}
.bootstrap-select .dropdown-toggle:focus,.btn-default:active,.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default,.btn-default:active,.btn-default:hover,.open > .dropdown-toggle.btn-default:hover
{
	outline: none !important;
	box-shadow: none;
	border-color: rgba(15,14,15,0.18);
	color: #515467;
	background-color: transparent;
}
.categories .dropdown-menu > li > a
{
	padding: 6px 21px;
	color: #515467;
	font-size: 14px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.categories .dropdown-menu > li > a:hover
{
	background-color: transparent;
	color: #01344c;
}
.categories .dropdown-menu > li > a:focus
{
	background-color: transparent;
}
header .search_cat .searchbox
{
	width: 65%;
	position: relative;
}
header .searchinput
{
	font-size: 14px;
	-webkit-text-fill-color: #b9bac1 !important;
	text-transform: capitalize;
	border-radius: 0;
	min-height: 35px;
	border: 0;
	width: 100%;
	background-color: transparent;
	padding: 0 19px;
}
header .search_icon
{
	background-color: #1c79a2;
	width: 35px;
	height: 35px;
	font-size: 14px;
	border-radius: 0;
	color: #ffffff;
	border: none;
	position: absolute;
	top: 0;
	padding: 0;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
header .search_icon:hover
{
	background-color: #01344c;
}
header .recomend
{
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}
header .recomend .my_account
{
	margin-right: 17px;
	margin-left: 23px;
}
.recomend .re_btn
{
	color: #515467;
	font-size: 14px;
	font-family: 'ITCHandelGothicArabicW23-Bd';
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	display: inline-block;
	position: relative;
}
.recomend .re_btn > .ic
{
	font-size: 17px;
}
.recomend .re_btn .fa-chevron-down
{
	font-size: 11px;
}
.recomend .re_btn:hover
{
	color: #01344c;
}
.recomend .re_btn span
{
	font-size: 12px;
	font-family: 'ITCHandelGothicArabicW23-Bd';
	color: #ffffff;
	background-color: #9ac62d;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	line-height: 15px;
	bottom: 15px;
	display: inline-block;
	text-align: center;
}
.recomend .re_btn:hover span
{
	animation: scr 0.7s;
}
@keyframes scr {
	0%,100%  {
		-webkit-transform: translateY(0) ;
		-moz-transform: translateY(0); 
		-ms-transform: translateY(0); 
		-o-transform: translateY(0);
		transform: translateY(0); 
	}
	25%  {
		-webkit-transform: translateY(4px) ;
		-moz-transform: translateY(4px); 
		-ms-transform: translateY(4px); 
		-o-transform: translateY(4px);
		transform: translateY(4px);
	}
	50%  {
		-webkit-transform: translateY(-4px) ;
		-moz-transform: translateY(-4px); 
		-ms-transform: translateY(-4px); 
		-o-transform: translateY(-4px);
		transform: translateY(-4px);
	}
	75%  {
		-webkit-transform: translateY(4px) ;
		-moz-transform: translateY(4px); 
		-ms-transform: translateY(4px); 
		-o-transform: translateY(4px);
		transform: translateY(4px);
	}
}
header .reg_menu
{
	border: none;
	border-radius: 4px;
	background-color: #ffffff;
	min-width: 132px;
	margin-top: 11px;
	padding: 9px 12px;
	-webkit-box-shadow: 0 0 12px rgba(0,0,0,0.1);
	box-shadow: 0 0 12px rgba(0,0,0,0.1);
	right: auto;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
header .reg_menu > li:not(:last-child)
{
	border-bottom: 1px solid #e6e6e6;
}
header .reg_menu > li > a
{
	background-color: transparent;
	font-size: 14px;
	color: #515467;
	display: block;
	text-align: center;
	line-height: 37px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	padding: 0;
}
header .reg_menu > li > a:hover
{
	color: #b1479a;
	background-color: transparent;
}
.down_nav
{
	background-color: #01344c;
	margin-top: 17px;
}
.down_nav .down_bar
{
	display: flex;
	align-items: center;
}
.down_nav .cating
{
	width: 23.08%;
	position: relative;
}
.cating .c_title
{
	padding: 17px 31px;
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;
	background-color: #1c79a2;
	font-family: 'ITCHandelGothicArabicW23-Bd';
}
.down_bar .c_title .fa-bars
{
	font-size: 17px;
}
.cating .demo
{
	background-color: #ffffff;
	position: absolute;
	width: 100%;
	z-index: 5;
	border: 1px solid #e5e5e5;
}
.cating .demo > ul
{
	margin-bottom: 0;
	padding: 15px 0;
}
.demo .demo_li
{
	position: relative;
}
.demo .demo_li:not(:last-child):after
{
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
	color: #c6c6c6;
	font-size: 11px;
	position: absolute;
	top: 13px;
}
.demo .d_sub
{
	line-height: 35px;
	display: block;
	font-size: 15px;
	color: #515467;
	padding: 0 29px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.demo .demo_li:hover .d_sub,.demo .demo_li:hover:not(:last-child):after
{
	color: #9ac62d;
}
.demo .sub_list
{
	position: absolute;
	background-color: #ffffff;
	display: block;
	width: 190px;
	top: 0;
	padding: 8px 0;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	opacity: 0;
	visibility: hidden;
	z-index: 8;
	border: 1px solid #e5e5e5;
}
.demo .demo_li:hover .sub_list
{
	opacity: 1;
	visibility: visible;
}
.demo .sub_list .sub_item
{
	display: block;
	line-height: 27px;
	color: #515467;
	font-size: 15px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	padding: 0 25px;
}
.demo .sub_list .sub_item:hover
{
	color: #72a87b;
}
header .nav_bar
{
	margin: 0;
}
header .nav_bar > li
{
	position: relative;
	padding: 17px 11px;
}
.nav_bar > li > a
{
	font-size: 15px;
	color: #ffffff;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	display: inline-block;
}
header .nav_bar > li:hover > a
{
	color: #9ac62d;
} 
.custom-2,.custom-3
{
	padding: 0;
}
.mainslider .owl-nav .owl-next
{
	position: absolute;
	width: 32px;
	height: 32px;
	top: 45%;
	right: 0;
	background-color: rgba(0,0,0,0.7);
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	line-height: 32px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.mainslider .owl-nav .owl-prev
{
	position: absolute;
	width: 32px;
	height: 32px;
	top: 45%;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	line-height: 32px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.mainslider .owl-nav .owl-next:hover,.mainslider .owl-nav .owl-prev:hover
{
	background-color: #b1479a;
}
.banner
{
	overflow: hidden;
}
.bans .banner
{
	max-width: 292px;
	max-height: 227px;
	margin: auto;
}
.banner img
{
	-webkit-transition: 0.8s ease;
	-o-transition: 0.8s ease;
	transition: 0.8s ease;
}
.banner:hover img
{
	-webkit-transform: scale3d(1.1,1.1,1);
	-ms-transform: scale3d(1.1,1.1,1);
	-o-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}
.heading
{
	background-color: #01344c;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	padding: 0 30px;
	margin-top: 30px;
	margin-bottom: 14px;
	position: relative;
	overflow: hidden;
}
.heading:before
{
	content: url("../images/before.png");
	position: absolute;
}
.heading .he_title
{
	font-size: 18px;
	color: #ffffff;
	font-family: 'ITCHandelGothicArabicW23-Md';
}
.heading .more
{
	display: inline-block;
	color: #66a2bf;
	font-size: 13px;
	font-family: 'ITCHandelGothicArabicW23-Lt';
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.heading .more:hover
{
	color: #ffffff;
}
.pro
{
	text-align: center;
	max-width: 240px;
	margin: auto;
	border: 1px solid #e5e5e5;
	position: relative;
	overflow: hidden;
	padding-bottom: 16px;
}
.pro .discount
{
	position: absolute;
	color: #ffffff;
	font-family: 'Cairo-SemiBold';
	font-size: 14px;
	width: 35px;
	height: 35px;
	background-color: #b1479a;
	line-height: 35px;
	text-align: center;
	top: 8px;
}
.pro .photo
{
	height: 133px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 37px 10px 18px 10px;
}
.pro .photo img
{
	width: auto;
	height: auto;
}
.pro .info
{
	padding: 0 10px;
}
.pro .pro_name > a
{
	font-size: 14px;
	color: #4d4d4d;
	display: inline-block;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.pro .pro_name > a:hover
{
	color: #1c79a2;
}
.pro .rate
{
	margin-top: 6px;
	margin-bottom: 10px;
}
.pro .rate > span
{
	color: #d4d4d4;
	font-size: 10px;
	display: inline-block;
}
.pro .rate > span.active
{
	color: #e8c819;
}
.pro .price
{
	font-size: 16px;
	font-family: 'Cairo-Bold';
	direction: ltr;
	margin-bottom: 16px;
}
.pro .price .current
{
	color: #1c79a2;
}
.pro .price .past
{
	text-decoration: line-through;
	color: #bababa;
}
.pro .act
{
	background-color: transparent;
	border: none;
	padding: 0 19px;
	font-size: 16px;
	color: #b6b6b6;
	height: 28px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	display: inline-block;
	line-height: 28px;
}
.pro .act.add_cart
{
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}
.pro .act:hover
{
	color: #9ac52c;
}
.pro_slider .owl-nav .owl-next,.brand_slider .owl-nav .owl-next
{
	position: absolute;
	color: #c9c8c9;
	font-size: 18px;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
	top: 45%;
	right: -31px;
}
.pro_slider .owl-nav .owl-prev,.brand_slider .owl-nav .owl-prev
{
	position: absolute;
	color: #c9c8c9;
	font-size: 18px;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
	top: 45%;
	left: -31px;
}
.pro_slider .owl-nav .owl-next:hover,.pro_slider .owl-nav .owl-prev:hover
{
	color: #515467;
}
.pro_slider .owl-dots
{
	text-align: center;
	position: absolute;
	bottom: 0px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	right: auto;
	left: 50%;
	bottom: -39px;
	display: none;
}
.pro_slider .owl-dot
{
	float: left;
}
.pro_slider .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 0 3px;
	background-color: rgba(0,0,0,0.7);
	border: none;
	display: block;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	border-radius: 5px;
}
.pro_slider .owl-dot.active span {
	background-color: #b1479a;
}
.banners
{
	margin-top: 28px;
}
.features
{
	margin-top: 50px;
}
.features .feat
{
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 123px;
	justify-content: center;
	padding: 15px;
}
.feat .fe_photo
{
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.feat .fe_name
{
	font-size: 17px;
	color: #ffffff;
	margin-top: 7px;
	text-align: center;
	line-height: 23px;
}
.feat.one
{
	background-color: #b1479a;
}
.feat.two
{
	background-color: #d2d227;
}
.feat.three
{
	background-color: #1c79a2;
}
.feat.four
{
	background-color: #9ac52c;
}
.feat:hover .fe_photo > img
{
	-webkit-animation:spin 0.6s linear 1;
	-moz-animation:spin 0.6s linear 1;
	animation:spin 0.6s linear 1;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
footer 
{
	padding-top: 78px;
	background-color: #01344c;
	margin-top: 22px;
}
footer .title
{
	color: #ffffff;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 26px;
	font-family: 'ITCHandelGothicArabicW23-Bd';
	position: relative;
}
.fast_links > ul
{
	margin: 0;
}
.fast_links > ul > li:not(:last-child)
{
	margin-bottom: 15px;
}
.fast_links > ul > li > a
{
	color: #2e7fa5;
	font-size: 15px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.fast_links > ul > li > a:hover
{
	color: #9ac52c;
}
footer .join_intro
{
	font-size: 15px;
	color: #2e7fa5;
	margin-bottom: 15px;
	line-height: 23px;
}
.connect_info .form-group
{
	position: relative;
}
.connect_info .form-control
{
	font-size: 13px;
	padding: 0 21px;
	border: none;
	background-color: #002f45;
	border-radius: 0;
	-webkit-text-fill-color: #195672 !important;
	height: 45px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	box-shadow: none;
}
.connect_info .form-group .check
{
	position: absolute;
	background-color: #1c79a2;
	width: 35px;
	height: 35px;
	border: 0;
	top: 5px; 
	color: #ffffff;
	font-size: 14px;
	padding: 0;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.connect_info .form-group .check:hover
{
	background-color: #9ac52c;
}
.connect_info .form-group button:focus
{
	outline: none;
}
.connect_info .form-group .form-control:focus
{
	box-shadow: none;
}
footer .social
{
	margin-top: 12px;
}
footer .social > a
{
	font-size: 14.56px;
	color: #ffffff;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #06405b;
	border-radius: 50%;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
footer .social > a:hover
{
	background-color: #9ac52c;
}
footer .copy_pay
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 78px;
	padding-top: 7px;
	padding-bottom: 10px;
	border-top: 1px solid #08425d;
}
footer .copy
{
	font-size: 13px;
	color: #2e7fa5;
}
footer .copy > a
{
	color: #ffffff;
	font-family: 'ITCHandelGothicArabicW23-Md';
	display: inline-block;
}
.copy > a > img
{
	display: inline-block;
	margin: 0 2px;
}



@media (min-width:992px) {
	.fast_links > .collapse
	{
		display: block;
	}
}

/*special*/
@media (min-width:1200px) and (max-width:1247px){
	.pro_slider .owl-nav .owl-next,.brand_slider .owl-nav .owl-next
	{
		right: -20px;
	}
	.pro_slider .owl-nav .owl-prev,.brand_slider .owl-nav .owl-prev
	{
		left: -20px;
	}
}

/*md*/
@media (min-width:992px) and (max-width:1199px)	
{
	header .search_cat
	{
		width: 45%;
	}
	header .categories
	{
		width: 40%;
	}
	header .search_cat .searchbox
	{
		width: 60%;
	}
	.cating .demo > ul,.demo .sub_list
	{
		padding: 7px 0;
	}
	.demo .d_sub,.demo .sub_list .sub_item
	{
		line-height: 30px;
	}
	.demo .demo_li:not(:last-child):after
	{
		top: 9px;
	}
	.pro_slider .owl-nav .owl-next,.brand_slider .owl-nav .owl-next
	{
		right: -19px;
	}
	.pro_slider .owl-nav .owl-prev,.brand_slider .owl-nav .owl-prev
	{
		left: -19px;
	}
	.connect_info
	{
		text-align: center;
		margin-top: 60px;
		width: 70%;
		margin-right: auto;
		margin-left: auto;
	}
	footer .social
	{
		text-align: center;
		margin-top: 30px;
	}
	footer .copy_pay
	{
		margin-top: 30px;
	}
}


/*sm*/
@media (min-width:768px) and (max-width:991px)	
{
	header
	{
		padding: 18px 0;
	}
	.top_nav
	{
		position: relative;
		padding-top: 50px;
		margin: 0 30px;
	}
	header .lang-bar
	{
		justify-content: flex-start;
		margin-top: 0;
	}
	header .top_bar
	{
		margin-top: 50px;
		flex-direction: column;
		align-items: center;
	}
	header .search_cat
	{
		width: 100%;
		order: 2;
		margin-top: 20px;
	}
	.down_nav
	{
		display: none;
	}
	header .mob_bar
	{
		display: block;
		order: 4;
		width: auto;
		position: absolute;
		top: 40px;
	}
	.mob_bar #navbtn 
	{
		background-color: transparent;
		padding: 0;
		color: #01344c;
	}
	.mob_bar #navbtn > span
	{
		display: none;
	}
	header .logo
	{
		position: absolute;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
		top: 0;
	}
	.custom
	{
		width: auto;
		padding: 0;
	}
	.custom-1
	{
		margin: 0;
	}
	.mainslider .owl-nav,.pro_slider .owl-nav
	{
		display: none;
	}
	.mainslider img
	{
		max-height: 400px;
	}
	.bans
	{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 15px;
	}
	.bans .banner
	{
		margin: 15px 5px;
	}
	.products
	{
		padding-bottom: 40px;
	}
	.pro_slider .owl-dots
	{
		display: block;
	}
	.features .feat
	{
		margin-bottom: 20px;
	}
	footer
	{
		padding-top: 14px;
	}
	.fast_links
	{
		background-color: #06405b;
		margin-bottom: 3px;
	}
	footer .title.sm_title
	{
		margin-bottom: 0;
		padding: 17px 21px;
	}
	.fast_links .sm_title:after
	{
		content: '\f067';
		font-weight: 900;
		font-family: "Font Awesome 5 Free";
		color: #ffffff;
		font-size: 11px;
		position: absolute;
	}
	.fast_links .sm_title[aria-expanded = "true"]:after
	{
		content: "\f068";
	}
	.fast_links > ul
	{
		padding: 0 21px;
	}
	.fast_links > ul > li:first-child
	{
		padding-top: 5px;
	}
	.fast_links > ul > li:last-child
	{
		padding-bottom: 20px;
	}
	.connect_info
	{
		text-align: center;
		margin-top: 40px;
	}
	footer .join_intro
	{
		margin-top: 31px;
	}
	footer .social
	{
		text-align: center;
		margin-top: 30px;
	}
	footer .copy_pay
	{
		margin-top: 30px;
	}
}

/*xs*/
@media (max-width:767px)
{
	header .lang-bar
	{
		justify-content: center;
	}
	header .top_bar
	{
		flex-direction: column;
		align-items: center;
		margin-top: 30px;
	}
	.down_nav
	{
		display: none;
	}
	header .recomend
	{
		margin: 30px 0;
	}
	header .search_cat
	{
		width: 91%;
		flex-direction: column;
		border: none;
		order: 3;
		padding: 0;
	}
	header .categories
	{
		width: 100%;
		border: 1px solid #e5e5e5;
		margin-bottom: 5px;
	}
	.categories .bootstrap-select>.dropdown-toggle
	{
		height: 45px;
	}
	.categories .bootstrap-select>.dropdown-toggle:after
	{
		top: 16px;
	}
	.categories .bootstrap-select.btn-group .dropdown-menu.open
	{
		margin-top: 4px;
	}
	header .search_cat .searchbox
	{
		width: 100%;
		border: 1px solid #ebebeb;
	}
	header .searchinput
	{
		height: 45px;
	}
	header .search_icon
	{
		top: 5px;
	}
	header .mob_bar
	{
		display: block;
		order: 4;
		margin-top: 20px;
	}
	.custom
	{
		width: auto;
		padding: 0;
	}
	.custom-1
	{
		margin: 0;
	}
	.mainslider img
	{
		max-height: 400px;
	}
	.mainslider .owl-nav,.pro_slider .owl-nav
	{
		display: none;
	}
	.bans
	{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 15px;
	}
	.bans .banner
	{
		margin: 15px 5px;
	}
	.products
	{
		padding-bottom: 40px;
	}
	.pro_slider .owl-dots
	{
		display: block;
	}
	.features .feat
	{
		margin-bottom: 20px;
	}
	footer
	{
		padding-top: 14px;
	}
	.fast_links
	{
		background-color: #06405b;
		margin-bottom: 3px;
	}
	footer .title.sm_title
	{
		margin-bottom: 0;
		padding: 17px 21px;
	}
	.fast_links .sm_title:after
	{
		content: '\f067';
		font-weight: 900;
		font-family: "Font Awesome 5 Free";
		color: #ffffff;
		font-size: 11px;
		position: absolute;
	}
	.fast_links .sm_title[aria-expanded = "true"]:after
	{
		content: "\f068";
	}
	.fast_links > ul
	{
		padding: 0 21px;
	}
	.fast_links > ul > li:first-child
	{
		padding-top: 5px;
	}
	.fast_links > ul > li:last-child
	{
		padding-bottom: 20px;
	}
	.connect_info
	{
		text-align: center;
		margin-top: 40px;
	}
	footer .join_intro
	{
		margin-top: 31px;
	}
	footer .social
	{
		text-align: center;
		margin-top: 30px;
	}
	footer .copy_pay
	{
		flex-direction: column;
		padding: 15px 0;
		margin-top: 30px;
	}
	footer .copy
	{
		text-align: center;
		order: 2;
		margin-top: 10px;
		width: 250px;
		line-height: 23px;
	}
}